@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}

/* customize css for floor collapsed */

a:hover, a:focus{
    outline: none;
    text-decoration: none;
}
#accordion .panel{
    border:0px none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom:-1px;
}
#accordion .panel-heading{
    padding: 0;
    border-radius: 0px;
    color:#ff9800 !important;
}
#accordion .panel-title a{
    position: relative;
    display: block;
    padding: 15px 10px 15px 55px;
    background: #EEEEEE;
    text-transform:none;
    font-weight: bold;
    transition: all 0.4s ease 0s;
}
#accordion .panel-title a i,
#accordion .panel-title a.collapsed i{
    position: absolute;
    top:0;
    left:-26px;
    color: #ffffff;
    font-size: 17px;
    background: #ff9800;
    padding: 15px 19px;
    border-radius:4px;
    border:0 none;
}
#accordion .panel-title a.collapsed i{
    background:#fff;
    color:#ff9800;
    border:1px solid #d3d3d3;
}
#accordion .panel-title a.collapsed:hover i{
    background:#ff9800;
    color:#fff;
}
#accordion .panel-body{
    padding-left:50px;
    color:rgb(51, 51, 51);
    line-height: 24px;
    border-top: 0px none;
    border-left:1px dashed #233859;
}
@media only screen and (max-width: 768px){
    #accordion .panel-title a i,
    #accordion .panel-title a.collapsed i{
        left:-10px;
    }
    #accordion .panel-body{
        padding-left: 15px;
        margin-left: 15px;
    }
}

.ml-10{
    margin-left: 10px;
}
.room-map-on{
    width: 100px; 
    height: 50px; 
    background-color: #43a047;
    border-radius: 5px;
}
.room-number-on{
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}
.margin-auto{
    margin: auto;
}
.td-width{
    width: 100px;
}
.btn-margin-top{
    margin-top:-5px;
}
.td-height{
    height:50px;
}

/* customize css for notification dropdown */
.tbl-width{
    width: 400px;
}
.noti-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.noti{
    font-weight: bold;
    padding-left: 5px;
}
.noti-info{
    padding-left: 10px;
    display: inline-block; 
    width: 350px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.noti-time{
    padding-left: 10px;
}
.noti-seemore{
    color: #ff9800;
    text-align: right;
    padding-right: 20px;
}
.unread{
    width: 10px; 
    height: 10px; 
    background-color: green; 
    border-radius: 50%;
}

/* checkbox */
.checkbox{
    display: table-cell !important;
    vertical-align: middle !important;
}

/* modal */
.modal {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .blur{
    background-color: rgba(12, 12, 12, 0.8);
  }
  .pd-left-5{
    padding-left: 1%;
  }
  .width-turnOnOff{
    width: 50%;
  }
.mg-right-save-modal{
    margin-right: -520% !important;
}
/* user homepage */
.text-grey{
    font-weight: 700;
    color: gray;
}


/* file upload */
.formUpload{
   margin: auto;
    width: 80%;
    height: 350px;
    border: 4px dashed rgb(112, 111, 111);
  }
  .formUpload p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 330px;
    color:rgb(112, 111, 111);
    font-family: Arial;
  }
  .formUpload input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }
  .formUpload button{
    color: #fff;
    background: #ff9800;
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    border-bottom: 4px solid #c46711;
    transition: all .2s ease;
    outline: none;
  }
  .formUpload button:hover{
    background: #ec7f26;
    color: #b65f0e;
  }
  .formUpload button:active{
    border:0;
  }